/*
 Name: Justin Smith
   Course: ITSE 2402
   Date: 2/5/2019
   Date updated: 3/3/2019
   Lab #: Lab 2 - Beginning of Website
   Description: Style sheet for Chades Bicycle Company
   Filename: chadestyles.css
*/

/*
font-family: 'Handlee', cursive;
font-family: 'Rancho', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Prata', serif;

Colors:
MorningSky: #CAE4DB;
Honey: #DCAE1D;
Curulean: #00303F;
Mist: #7A9D96;
*/

@import url('https://fonts.googleapis.com/css?family=Handlee|Pacifico|Rancho|Prata');
@charset "utf-8";

/* apply a natural box layout model to all elements */
* {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

/* reset rules */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
html{
	padding:20px;
	font-size: 16px;
	background:#CAE4DB; 
}
body {
	background-color:white;
	max-width:1024px;
	margin:auto;
	border-radius:15px;
}
/*The mainContent class represents the main content on each page. The navigation takes up the left column, and the mainContent fills the rest of the page using a flex box. */
.mainContent{	/*the main body content for most of the pages in the site*/
	font-family: 'Prata', serif;
	font-size:1rem;
	font-weight:600;
	color:#00303F;
	border-radius:15px;
	flex:1 1 824px;	
}
/*END DEFAULT STYLES*/	
/******************************************************************************/




/*LOGO STYLES AND MAIN HEADER STYLES*/
#logo {		/*image element for logo */
	width:auto;
	height: 200px;
	border-radius:15px;
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	margin:auto auto;	
}
header div{		/*container for logo*/
	background: #00303F;
	margin:10px;
	border-radius:15px;
	position:relative;
	height:200px;
}
header{			/*styles for header*/
	padding-top:5px;
}


/*END LOGO AND HEADER STYLES*/
/******************************************************************************/




/* NAVIGATION STYLES */
#container{		/*container for all body elements except header/footer*/
	display:flex;
	position:relative;
}
#nav {		/* navigation section style (a flex area shared with main page content)*/  
   flex:1 1 auto;
   max-width:200px; 
   min-width:200px;   
   padding:10px;
   border-radius:15px;
}
nav ul {		/* ul inside the navigation*/
	text-align: center;
	border:1px solid #00303F;	
}
nav ul li {		/* styles for navigation list items*/
   display: block;
   padding: 8px 15px;
   background: #DCAE1D;      
   width:auto;
   font-family: 'Handlee', cursive;
   font-weight:900;
   font-size:1rem;   
   border:1px solid #00303F;
   min-height:50px;   
}
nav ul li:hover {		/*if navigation links are hovered over*/
	background-color:yellow;	
}
a {			/* naviagation section's link styles*/
	text-decoration:none;
	color:  #00303F;
}
#currentpage a{			/*styles for the navigation link that is for the active page*/
	color:  #DCAE1D;
	border: 1px solid #00303F;
}
nav ul #currentpage {/* styles for the navigation link that is for the active page*/
	background: #00303F;
	color: #DCAE1D;
	box-shadow:2px -2px 0px #DCAE1D,
	2px 0px 0px #DCAE1D;
}
a#navicon {/*hide the navicon, this is for the menu on smaller devices*/
	display:none;
}
.hiddenNav, .hiddenNav2{
	display:none;
	background-color:#DCAE1D; 
	opacity:.75;
	z-index:1;	
}
/*END NAVIGATION STYLES*/
/******************************************************************************/





/*HOME PAGE STYLES*/
#companyInfo{				/*styles for main body content on home page*/	
	display:flex;
	justify-content: space-between;
	flex-flow: row wrap;
	width:100%;
	margin:auto;
	border-radius:15px;		
	font-family: 'Prata', serif;
	font-size:1rem;
	font-weight:600;
	color:#00303F;
} 
#intro{					/*styles for intro paragraph about company on home page*/
	flex:1 1 500px;
	height:350px;
	margin:10px;
	padding:15px;
	border-radius:15px;	
	color:#00303F;
	line-height:1.75rem;
}
#homeContactInfo{				/*home page store info and hours section*/
	flex:1 1 250px;
	padding-left:15px;
	padding-top:15px;
	padding-bottom:15px;
	margin:0px;
	background-color:#7A9D96;
	background-image: linear-gradient(to right, #7A9D96, white);
	color:#00303F;
	border:2px solid #00303F;
	border-radius:15px;
	color:#00303F;
	line-height:2rem;
	margin-right:10px;
}
#homeContactInfo li, address{					/*specific settings for the homepage address section*/
	list-style-type:none;
	text-indent:25px;	
}
#homeContactInfo h2{			/* headings for the store info and hours section*/
	padding-top:10px;
}
#mission{			/*home page mission statement styles*/
	flex:1 1 auto;
	width:100%;
	min-height:px;
	margin:10px;
	padding:15px;
	background-color:;
	border-radius:15px;
	color:#00303F;
	line-height:1.75rem;
}
#soon{				/* home page coming soon sections styles*/
	flex:1 1 auto;
	width:100%;
	margin:10px;
	padding:15px;
	background-color#7A9D96;
	background-image: linear-gradient(to right, #7A9D96, white);
	border-radius:15px;
	border:2px solid #00303F;
	color:#00303F;
	line-height:1.75rem;
}
#soon h2{				/*h2 settings for the soon section on the home page*/
	font-size:1.5rem;
	color:#00303F;
}
#soon p{				/* paragraph settings for the soon section on home page*/
	padding:10px;
	text-indent:50px;
}
#aup {
	padding:5px 10px 5px 10px;
	margin:10px;
}
#aup a{	
	color:#DCAE1D;
}
#aup a:hover{
	color:#7A9D96;
	font-size:1.1rem;
}

/*END HOME PAGE STYLES*/
/******************************************************************************/



/*FOOTER STYLES*/
footer{/*styles for the footer on all pages*/
	display:flex;
	font-family: Arial, sans-serif;
	margin:auto;
	text-align:center;
	font-weight: 700;
	letter-spacing: 2px;
	min-height:50px;
	font-size:.75rem;
	line-height:2rem;
	font-variant: small-caps;
	padding:10px;
	justify-content:center; /*center horizontally*/
	align-items:center;	/*center vertically*/
	
}
.sitemap{		/*the three div containers inside of the footer. one will be for the site map, other for copyright info*/
	flex:1 1 auto;
	width:25%;	
	line-height:1.5rem;
}
.sitemap li{			/*site map list items*/
	list-style:none;
}
.sitemap li a{				/*site map links in footer*/
	color:#7c8087;
}
.sitemap li a:hover{			/*when links are hovered over */
	font-size:.82rem;
}
#footCopyR{ /*copyright information section of footer*/
	flex:2 2 auto;
	width:40%;
	border-left:1px solid #7c8087;
	border-right:1px solid #7c8087;
	padding-top:10px;

}
#email{/*styles for the email image in the footer*/
	padding-left:8px;
	width:40px;
	height:auto;
}
.hideThisText {	/*the content of this is mixed into the email address to help with security*/
	display:none;
}
/*END FOOTER STYLES*/
/******************************************************************************/	




/*CALENDAR PAGES STYLES*/
	/*Calendar Styles used in table*/
.calendar_table {			/*styles for each table (month) of calendar*/
	width:40vw;
	height: 400px;
	margin:auto;
	border:2px solid #000080;
	border-collapse: collapse;
	background-color:#ADD8E6;
	color:#000000;
	font-family: 'Pacifico', cursive;
	box-shadow:3px 3px 15px #000080,
	-3px 3px 15px #000080;		
}
.calendar_table td {			/*styles for the table description (actual dates in calendar)*/
	text-align:center;
	border:2px solid #000080;
	width:14vw;	
	text-align:left;	
}
.calendar_table .month{			/*styles for the month part of the calendar*/
	border-top: 2px solid #000080;
	border-left: 2px solid #000080;
	border-right: 2px solid #000080;
	border-bottom: 0px solid #000080;
	background-color:#ADD8E6;
	font-size:1.35rem;
	font-weight:900;
	letter-spacing: 15px;
	padding:7px;
	box-shadow:3px 0px 15px #000080,
	-3px -3px 15px #000080;		
}
.calendar_table th{			/*styles for table headings (month of the year)*/
	border:2px solid #000080;
}
.holiday{			/*styles for company holidays on calendar*/
	color:#FF0000;
}
/*SET UP THE FLEX BOX FOR THE CALENDAR PAGE. ONE SIDE WILL BE THE TABLE, THE OTHER A DIV*/
#container3	 {/*this container holds all the tables and their matching descriptions (so pairs of tables and divs)*/
	display: flex;	
	justify-content: space-between;
	flex-flow: row wrap;
	width:100%;
	margin:auto;	
}
#container3 table{/*styles for tables that are nested inside table 3. these make up the left column of the main content */
	padding:20px;		
	margin-bottom:30px;/*this increases gap bt rows*/
	flex:1 1 400px;	
	height:400px;
}
#container3 div {		/*div for calendar dates (the right column of the main content)*/
	padding:20px;	
	margin-bottom:30px;/*this increases gap bt rows*/
	flex:1 1 250px;	
	height:400px;
	border-radius:15px;
	color: #00303F;
}
#container3 ul{			/* styles for the ul that contain the list of company events for each month*/
	margin-top:20%;	
	margin-bottom:auto;
	margin-left:5%;
	font-size:1rem;
	line-height:3rem;
	font-weight:900;	
}
#container2{	/*the main body container for the calendar page, holds all main content except header and footer*/
	padding:15px;
} 
/*END CALENDAR PAGE STYLES*/
 /******************************************************************************/
 
 
 
 
 
/*CONTACT PAGE STYLES*/
#contacts{ 	/*container for store info and map(main content on contacts page) */
	display:flex;	
}
#storeInfo{			/*container for store hours, location, address, phone#*/
	flex: 1 1 auto;
	height:auto;
	width:400px;	
	font-size:1rem;
	line-height:2rem;
	font-weight:900;
	padding:15px;
	border-radius:15px;
	margin:10px;
	background-color:#7A9D96;
	background-image: linear-gradient(to right, #7A9D96, white);
	color:#00303F;
	border:2px solid #00303F;
}
#map{			/* id for actual image name of the store map*/
	flex: 1 1 auto;
	width:300px;
	height:300px;
	background-color:;
	padding:px;
	border-radius:15px;
	margin:auto auto;
	margin-right:10px;
}
#storeInfo a{			/* links for store hours, location, phone#*/
	color:#00303F;
}
#storeInfo a:hover{/*when hovered over*/
	font-size:1.1rem;
}
#storeInfo li{			/*list items for store hours, location, phone#*/
	list-style-type:none;
	text-indent:50px;	
}
#storeInfo address{/*styles for address that is within the storeInfo container*/
	text-indent:50px;
}
/*END CONTACT PAGE STYLES*/
/******************************************************************************/



/*STYLES FOR STAFF DIRECTORY PAGE*/
#staff {		/*outer container that holds each of the staff members*/	
	padding:10px;
	color:#00303F;
}
.a figure {		/*styles for inner containers holding staff image and information*/	
	width:100%;
	display:flex; /*allows you to center */
	justify-content:center; /*center horizontally*/
	align-items:center;	/*center vertically*/
	height: 400px;
	background:#7A9D96;
	padding:10px;	
	background-image: linear-gradient(to right, #7A9D96, white);
	border-radius:15px;	
	border: 2px solid #00303F;
}
#staff img{		 /*styles for staff images*/	
	width:250px;
	height:250px;
	border:2px solid #00303F;
	border-radius:75px;	
	
}
figcaption{		/*styles for the figcaption beside img*/
	padding-left:30px;

}
#staff li{		/*styles for ul li containing contact information*/
	list-style-type:none;
	font-weight:900;
}
/*END STYLES FOR STAFF DIRECTORY PAGE*/
/******************************************************************************/





/*CUSTOMER FEEDBACK STYLES */
fieldset{ /*STYLES FOR FIELDSET*/
	padding:10px;
	border-radius:15px;
	background-color:#7A9D96;
	background-image: linear-gradient(to right, #7A9D96, white);
	color:#00303F;
	border:2px solid #00303F;
}
form{/*STYLES FOR FORM*/
	padding:10px;
	width:;
}
fieldset input{/*STYLES FOR INPUT*/
	border:1px solid #00303F;
	background-color:white;
}
#alertBox{ 		/*styles for document fragment (a div) that contains the error message for incomplete fields*/
	height: 50px;
	border: 2px solid #00303F;
	background-image: linear-gradient(to right, #DCAE1D, white);
	text-align:center;
	padding:10px;
	font-weight:900;
	border-radius:8px;
}
/*END CUSTOMER FEEDBACK STYLES*/
/******************************************************************************/





/*EMBEDDED STYLES FOR SMALLER DEVICES*/
@media only screen and (max-width: 999px){
	/*Mobile navigation */
#nav{ /*container for the navigation section*/	
	display:block;/*tinkering here*/
}
#container{/*reset container that holds navigation to display as a block instead of a flex as before*/
	display:block;
	
}
#navicon { /*styles for the navigation icon*/
	display:block;
	font-weight:bold;
	font-size:5rem;		
	color:#DCAE1D;
	text-align:left;
	position:absolute;
	bottom:20px;
	left:15px;	
	z-index:3;
}
/*styles for hidden ul that holds navigation links (this is a ul)*/
#dropContent { /*so hide the nav area until hovered over*/
	display:none;	
	position:absolute;
	min-width:95vw;
	z-index:1;
	border:5px solid white;	
}

a#navicon:hover+ul, nav#nav ul:hover{/*once hovered over, display as a block*/
	display:block;	
}
	
#nav li{/*styles for list items in navigation list */
	color:  #00303F;
	list-style:none;
	line-height: 60px;
	font-size:1.25rem;
	font-weight:900;
	background-color: #DCAE1D;
	text-align:center;
	border-top:1px solid #00303F;	
	border-bottom:1px solid #00303F;
}
a {/*nav list a tag styles*/
	text-decoration:none;
	color:  #00303F;
}
#currentpage a{				/*current page a tag styles*/
	color:  #DCAE1D;
}
nav ul #currentpage {				/*current page styles*/
	background: #00303F;
	color: #DCAE1D;
	border-top:1px solid #DCAE1D;	
	border-bottom:1px solid #DCAE1D;
}
}
/*END EMBEDDED STYLES FOR MOBILE DEVICES*/
/******************************************************************************/




/*
Colors:
MorningSky: #CAE4DB;
Honey: #DCAE1D;
Curulean: #00303F;
Mist: #7A9D96;
